extends layout

block css
    style
        include ../public/stylesheets/login.css


block content
    .container(style={'background': 'url(https://images.unsplash.com/photo-1489644484856-f3ddc0adc923?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) no-repeat center center fixed;', 'background-size': 'cover;'})
        .row
            .col-xs-12.col-sm-12.white.text-center
                h2.font-weight-bold Check Your Email
                br
                br
                p
                    | Check your email and click on the verification link to access your account!

