extends layout

block css
  style
    include ../public/stylesheets/error.css


block content

  .container
    .row
      .col-xs-12.col-sm-12.text-center
        br
        br
        br

        .jumbotron
          br
          br
          br
          h1.display-5 Oh No!

          h3 Nothing's Here - Click Back to go Back to where you left off!

          br
          br
          br


      br
      br
      br
      br
      br
      br
      br
      br
      br