include layout.pug

block css
    style
        include ../public/stylesheets/getstarted.css
block content
    h1 Let's get started
    h3 Set up for profile so your family members can find you
    .jumbotron.fade-in
        form(method='POST' action='./getstarted')
            .row
                .col
                    img#preview(src=file)
                .col
                    p Upload a profile picture
                    .row
                        .col
                            input( type='file' onchange='previewFile()' name = 'photoinput')
                            .row
                                p#message Looking good!

                        //i want an ajax function here for the user to then search friends
                    .row
                        .col
                            a(href = '/profile/:id')
                                button.btn.btn-outline.page-button#nextbtn(type='submit') Next


    script.
        function previewFile() {
            var preview = document.querySelector('img');
            var file = document.querySelector('input[type=file]').files[0];
            var reader = new FileReader();

            reader.addEventListener("load", function (e) {
                preview.src = reader.result.toString();
                document.getElementById('b64').value = e.target.result;
            }, false);

            if (file) {
                reader.readAsDataURL(file);
                document.getElementById('message').style.display = 'block';
                document.getElementById('nextbtn').style.display = 'block';


            }
        }

