extends layout

block css
    style
        include ../public/stylesheets/homepage.css



block content
    .container-fluid.fill-height.fade-in
        .row
            .col-xs-12.col-sm-12#backgroundwelcome

                if(session)
                    h1.text-center.white-transparent Welcome

        .row
            .col-xs-12.col-sm-12.col-md-3.col-lg-2.col-xl-2(style={
                'background-color': 'white;'
            })
                nav-collapse.fixed-left
                    .vertical-menu
                        br
                        a(href='/myantiques',style="color:#666666;") My Antiques
                        hr.my-4
                        a(href='/events',style="color:#666666;") Events
                        br
                        a(href='/settings',style="color:#666666;") Settings
                        br
                        a(href='/logout',style="color:#666666;") Log Out
                        br
                        br
            .col-md-9.col-lg-10.col-xl-10
                .row
                    .col
                        .container-fluid.uploadzone
                            form(method='POST' action='/upload')
                                div.form-group
                                    .row
                                        .col
                                            .container.textboxdesign
                                                br
                                                h5.font-weight-bold Create Post
                                                textarea#post(type = 'text', placeholder=' Keep your family updated ...',
                                                    name = 'post', maxlength='250', rows = 5)
                                                button.btn.btn-light(type='button') Post

                .row
                    .col.familygroupzone
                        .card(style='width: 15rem; height: 15rem;')
                            #modalRegisterForm.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
                                form(method='POST' action='/create')
                                    .modal-content
                                        .modal-header.text-center
                                            h4.modal-title.w-100.font-weight-bold Create a Family
                                            button.close(type='button' data-dismiss='modal' aria-label='Close')
                                                span(aria-hidden='true') &times;
                                        .modal-body.mx-3
                                            .md-form.mb-5
                                                label.font-weight-bold(for='familyname') Family Name
                                                input#familyname.form-control(type='text', placeholder='Family Name*' name='title', required)
                                            .md-form.mb-5
                                                label.font-weight-bold(for='description') Description
                                                .input-group
                                                    textarea#description.form-control(type='text', placeholder='Description*', name='description',required)
                                            .md-form.mb-5
                                                p.font-weight-bold Upload Image (optional)
                                                img#preview(src=file)
                                                input#pad( type='file' onchange='previewFile()' name = 'photo')
                                            div
                                                input#b64(type="hidden", name='b64')


                                        .modal-footer.d-flex.justify-content-center
                                                button.btn.btn-primary(type='submit') Create Family

                            br
                            .text-center
                                a.btn.btn-default.btn-rounded.mb-4.addfamily(href='/home' data-toggle='modal' data-target='#modalRegisterForm')
                                    | Create Family Group
                        each family in familygroups
                            .card(style='width: 15rem; height: fit-content;')
                                .d-flex
                                    a(href = `/view/${family._id}`)
                                        img.card-img-top.image-custom(src=family.photo, style="width:14rem;height:15rem;")
                                        .card-body.flex-fill
                                            .row
                                                h5.card-title #{family.title}




    script.
        function previewFile() {
            var preview = document.querySelector('img');
            var file = document.querySelector('input[type=file]').files[0];
            var reader = new FileReader();

            reader.addEventListener("load", function (e) {
                //document.getElementById("b64").innerHTML = e.target.result;
                preview.src = reader.result.toString();
                document.getElementById('b64').value = e.target.result;
            }, false);

            if (file) {
                reader.readAsDataURL(file);
            }
        }


