extends layout

block css
  style
    include ../public/stylesheets/index.css
    include ../public/stylesheets/font.css

block content
    section.first
        .vertical-center
            .row.h-100
                .col-1.my-auto

                .col-11.my-auto
                    .row
                        .col.text-center
                            #title.title
                    .row.text-center
                        .col(style = "color: white;")
                            h3 The easiest way to keep up with the family
                            p(style="font-size:1.rem;") Track relatives and family artifacts. Get back to your roots.
                    .row.text-center.d-flex.justify-content-center
                        .col-sm-1.col-md-3.col-lg-4.col-xl-4
                        .col-xs-6.col-sm-5.col-md-3.col-lg-2.col-xl-2
                            br
                            a.btn.btn-outline-light.btn-lg(href = `/signup`) Sign Up
                        .col-xs-6.col-sm-5.col-md-3.col-lg-2.col-xl-2
                            br
                            a.btn.btn-outline-light.btn-lg(href = `/login`) Login
                        .col-sm-1.col-md-3.col-lg-4.col-xl-4


    section.second
        .row.title
            .col.ml-3
                h2.title Manage artifacts

        .row
            .col-sm-9.col-md-9.col-lg-9.col-xl-9.white-transparent
                h5 Inherit is for all families. Turns out when you make it easy to keep track of family artifacts, history doesn't disappear.
                h5 Create your family and track who owns what in our easy artifact managing system.
                h5 You already know how this works so get started on your personal family artifact manager.
        .row
            .col.ml-3
                br
                a.btn.btn-light.btn-lg(href = `/signup`) Get Started →


    script.
            window.onload = typeWriter;
            var i = 0;
            var j = 0;
            function typeWriter() {

                var txt = 'Inherit';
                var hdr = 'What drives us';
                var speed = 100;
                if (i < txt.length) {
                    document.getElementById("title").innerHTML += txt.charAt(i);
                    i++;
                    setTimeout(typeWriter, speed);
                }
                if(i < hdr.length){
                    document.getElementById("header").innerHTML += hdr.charAt(j);
                    j++;
                    setTimeout(typeWriter, 250);

                }
            };

