extends layout

block css
  style
    include ../public/stylesheets/index.css



block content



  .jumbotron.jumbotron-fluid.greenery

    .container
      .row


        .col-xs-12.col-sm-12.col-lg-6.col-xl-6.white-transparent
          br

          h2.grey.Lato The easiest way to keep up with the family
          br
          h6.green
            | Track relatives and family antiques/treasures. Get back to your roots
          br
          p
            a.btn.btn-outline-success.btn-md(href="#" role="button") Sign up now
          br


        .col.col-lg-3.col-xl-3






