extends layout

block css
  style
    include ../public/stylesheets/index.css
    include ../public/stylesheets/font.css



block content
    section.first
        .fade-in.text-center
            .row
                .col.my-auto
                    #title.title
            .row.text-center
                .col.white-transparent
                    h3 The easiest way to keep up with the family
                    p Track relatives and family antiques/treasures. Get back to your roots.
                    .btn.btn-lg.btn-light(href = "/signup") Get Started

    section.second
        .row.title
            .col
                #header.title
        br
        .row
            .col.col-sm-8.col-md-6.col-lg-6.col-xl-6
                h2 Our goal is to provide a platform that will allow families to stay better connected over long distances, as well as reinforce the importance of one's own family history.

            .col-sm-4.col-md-6.col-lg-6.col-xl-6
                p The project will aim to address the issue presented to the team regarding handing down family artifacts over the years and in different cultures and countries, specifically how we can build a website or application to overcome the problem given.


    section.third
        .row.title
            .col
                h2.title Manage artifacts

        .row
            .col-sm-9.col-md-9.col-lg-9.col-xl-9.white-transparent
                h3 Inherit is for all families. Turns out when you make it easy to keep track of family antiques, history doesn't disappear.
                h3 Create your family and track who owns what in our easy artifact managing system.
                h3 You already know how this works so get started on your personal family antique manager.

    script.
        window.onload = typeWriter;
        var i = 0;
        var j = 0;
        function typeWriter() {

            var txt = 'Inherit';
            var hdr = 'What drives us';
            var speed = 100;
            if (i < txt.length) {
                document.getElementById("title").innerHTML += txt.charAt(i);
                i++;
                setTimeout(typeWriter, speed);
            }
            if(i < hdr.length){
                document.getElementById("header").innerHTML += hdr.charAt(j);
                j++;
                setTimeout(typeWriter, 250);

            }
        };

