extends layout

block css
  style
    include ../public/stylesheets/index.css



block content

    #carouselIndicators.carousel.slide(data-ride = "carousel")
        ol.carousel-indicators
            li.active(data-target = "#carouselIndicators" data-slide-to = "0")
            li(data-target = "#carouselIndicators" data-slide-to = "1")
            li(data-target = "#carouselIndicators" data-slide-to = "2")
        .carousel-inner(role = "listbox")
            .carousel-item.active.item1.text-center.fade-in
                .row
                    .col
                    .col.my-auto
                        #title.handwrite
                    .col
                .row
                    .col.white-transparent
                        h1 The easiest way to keep up with the family
                        h3 Track relatives and family antiques/treasures. Get back to your roots.
                        br
                        a#signupbtn.btn.btn-outline-dark.btn-lg(href = "/signup") Get Started
            .carousel-item.item2.text-center
                .row.sp
                    .col
                        h1(style = "color: white;") Share memories and events with family
                .row.h-90
                    .col
                        img.icon.fade-in(src = "https://image.flaticon.com/icons/svg/69/69366.svg", height = "100px;")
                        h4.caption Photo
                    .col
                        img.icon.fade-in(src = "https://image.flaticon.com/icons/svg/181/181538.svg", height = "100px;")
                        h4.caption Video
                    .col
                        img.icon.fade-in(src = "https://image.flaticon.com/icons/svg/181/181531.svg", height = "100px;")
                        h4.caption Link
                    .col
                        img.icon.fade-in(src = "https://image.flaticon.com/icons/svg/181/181540.svg", height = "100px;")
                        h4.caption Text
            .carousel-item.item3.fade-in
                .row.sp
                    .col-lg-1.col-xl-1
                    .col.col-lg-4.col-xl-4
                        h3(style = "color:white;") Inherit creates your family tree
                        p.small Inherit aims to make it easier for families living near and far to connect and preserve your family history, antiques, and relationships. Share photos and celebrate birthdays, anniversaries and other events together.

                        p.font-weight-bold Plant your family tree on Inherit
                    .col-lg-7.col-xl-7
                        div(style="width:90%;height:0;padding-bottom:56%;position:relative;")
                            iframe.giphy-embed.hidden-xs.hidden-sm(src="https://giphy.com/embed/l49bmpMXQytsws6S84" width="100%" height="100%" style="position:absolute" frameborder="0" allowfullscreen="")

    script.
        window.onload = typeWriter;
        var i = 0;
        function typeWriter() {

            var txt = 'Inherit';
            var speed = 100;
            if (i < txt.length) {
                document.getElementById("title").innerHTML += txt.charAt(i);
                i++;
                setTimeout(typeWriter, speed);
            }
        };


