extends layout

block css
  style
    include ../public/stylesheets/index.css
    include ../public/stylesheets/font.css



block content
<<<<<<< HEAD
  .jumbotron
    br
    #myCarousel.carousel.slide(data-ride='carousel')
      // Indicators
      ol.carousel-indicators
        li.active(data-target='#myCarousel' data-slide-to='0')
        li(data-target='#myCarousel' data-slide-to='1')
        li(data-target='#myCarousel' data-slide-to='2')
        li(data-target='#myCarousel' data-slide-to='3')
      // Wrapper for slides
      .carousel-inner(role='listbox')
        .item.active
          .jumbotron.jumbotron-fluid.greenery.Noto

            .container
              .row

                .col-xs-12.col-sm-12.col-lg-2.col-xl-2
                .col-lg-4.col-xl-4.white-transparent
                  br

                  h2.grey.Lato The easiest way to keep up with the family
                  br
                  h6.green
                    | Track relatives and family antiques/treasures. Get back to your roots
                  br
                  p
                    a.btn.btn-outline-success.btn-md(href="/signup" role="button") Sign up now
                  br

        .item
          .jumbotron.greenery

        .item
          .jumbotron.greenery

        .item
          .jumbotron.greenery

      // Left and right controls
      a.left.carousel-control(href='#myCarousel' role='button' data-slide='prev')
        span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
        span.sr-only Previous
      a.right.carousel-control(href='#myCarousel' role='button' data-slide='next')
        span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
        span.sr-only Next



=======
    section.first
        .fade-in.text-center
            .row
                .col.my-auto
                    #title.title
            .row.text-center
                .col.white-transparent
                    h3 The easiest way to keep up with the family
                    p(style="font-size:1.rem;") Track relatives and family artifacts. Get back to your roots.
                    a.btn.btn-light(href = "/signup") Get Started

    section.second
        .row.title
            .col
                #header.title
        br
        .row
            .col-xs-12.col-sm-8.col-md-6.col-lg-6.col-xl-6
                h3 Our goal is to provide a platform that will allow families to stay better connected over long distances, as well as reinforce the importance of one's own family history.
            .col-xs-12.col-sm-4.col-md-6.col-lg-6.col-xl-6
                h5 The project will aim to address the issue presented to the team regarding handing down family artifacts over the years and in different cultures and countries, specifically how we can build a website or application to overcome the problem given.


    section.third
        .row.title
            .col
                h2.title Manage artifacts

        .row
            .col-sm-9.col-md-9.col-lg-9.col-xl-9.white-transparent
                h5 Inherit is for all families. Turns out when you make it easy to keep track of family artifacts, history doesn't disappear.
                h5 Create your family and track who owns what in our easy artifact managing system.
                h5 You already know how this works so get started on your personal family artifact manager.

    script.
        window.onload = typeWriter;
        var i = 0;
        var j = 0;
        function typeWriter() {

            var txt = 'Inherit';
            var hdr = 'What drives us';
            var speed = 100;
            if (i < txt.length) {
                document.getElementById("title").innerHTML += txt.charAt(i);
                i++;
                setTimeout(typeWriter, speed);
            }
            if(i < hdr.length){
                document.getElementById("header").innerHTML += hdr.charAt(j);
                j++;
                setTimeout(typeWriter, 250);

            }
        };
>>>>>>> 03acd2cce754d5521d91c5cf3e7d8e5c0f08d3ae

