extends layout

block css
  style
    include ../public/stylesheets/index.css
    include ../public/stylesheets/font.css

block content

    section.first
        .vertical-center
            .row.h-100#main
                .col.my-auto
                    .row
                        .col.text-center
                            #title.title
                    .row.text-center
                        .col(style = "color: white;")
                            h5 The easiest way to keep up with the family
                            h5 Track relatives and family artifacts. Get back to your roots.
                    .row.text-center.d-flex.justify-content-center
                        .col-sm-1.col-md-1.col-lg-2.col-xl-3
                        .col-xs-12.col-sm-5.col-md-5.col-lg-4.col-xl-3
                            br
                            a.btn.btn-lg.signup(href = `/signup` style = "width: 80%; height: 65%; background-color: #3BB9FF; color: white; font-size: 16px;")
                                strong Get Started
                        .col-xs-12.col-sm-5.col-md-5.col-lg-4.col-xl-3
                            br
                            a.btn.btn-lg.loginbutton(href = `/login` style = "width: 80%; height: 65%; background-color: white; color: black; font-size: 16px;")
                                strong Login
                        .col-sm-1.col-md-1.col-lg-2.col-xl-3
        div#login(style = "display:none;")
            .row.h-100
                .col.my-auto.text-center
                    h2 Login
            .row
                .col
                    form(method='POST' action = '/login')
                        .form-group
                            input#exampleInputEmail1.form-control(type='email' name='email' aria-describedby='emailHelp' placeholder='Email')
                        .form-group
                            input#exampleInputPassword1.form-control(type='password' name='password' placeholder='Password')

                        br
                        .container.text-center
                            button.btn.btn-outline-secondary(type='submit') Login

    section.second
        .row.title
            .col.ml-3
                h2.title Manage artifacts

        .row
            .col-sm-9.col-md-9.col-lg-9.col-xl-9.white-transparent
                h5 Inherit is for all families. Turns out when you make it easy to keep track of family artifacts, history doesn't disappear.
                h5 Create your family and track who owns what in our easy artifact managing system.
                h5 You already know how this works so get started on your personal family artifact manager.
        .row
            .col.ml-3
                br
                a.btn.btn-light.btn-lg(href = `/signup`) Get Started →


    script.
        window.onload = typeWriter;
        var i = 0;
        var j = 0;
        function typeWriter() {

            var txt = 'Inherit';
            var hdr = 'What drives us';
            var speed = 100;
            if (i < txt.length) {
                document.getElementById("title").innerHTML += txt.charAt(i);
                i++;
                setTimeout(typeWriter, speed);
            }
            if (i < hdr.length) {
                document.getElementById("header").innerHTML += hdr.charAt(j);
                j++;
                setTimeout(typeWriter, 250);

            }
        };

