extends layout

block css
  style
    include ../public/stylesheets/index.css



block content
  .jumbotron
    br
    #myCarousel.carousel.slide(data-ride='carousel')
      // Indicators
      ol.carousel-indicators
        li.active(data-target='#myCarousel' data-slide-to='0')
        li(data-target='#myCarousel' data-slide-to='1')
        li(data-target='#myCarousel' data-slide-to='2')
        li(data-target='#myCarousel' data-slide-to='3')
      // Wrapper for slides
      .carousel-inner(role='listbox')
        .item.active
          .jumbotron.jumbotron-fluid.greenery.Noto

            .container
              .row

                .col-xs-12.col-sm-12.col-lg-2.col-xl-2
                .col-lg-4.col-xl-4.white-transparent
                  br

                  h2.grey.Lato The easiest way to keep up with the family
                  br
                  h6.green
                    | Track relatives and family antiques/treasures. Get back to your roots
                  br
                  p
                    a.btn.btn-outline-success.btn-md(href="/signup" role="button") Sign up now
                  br

        .item
          .jumbotron.greenery

        .item
          .jumbotron.greenery

        .item
          .jumbotron.greenery

      // Left and right controls
      a.left.carousel-control(href='#myCarousel' role='button' data-slide='prev')
        span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
        span.sr-only Previous
      a.right.carousel-control(href='#myCarousel' role='button' data-slide='next')
        span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
        span.sr-only Next



