extends layout

block css
  style
    include ../public/stylesheets/index.css

block content
  //Start Image Slider
  #carouselIndicators.carousel.slide(data-ride = "carousel")
    ol.carousel-indicators
      li.active(data-target = "#carouselIndicators" data-slide-to = "0")
      li(data-target = "#carouselIndicators" data-slide-to = "1")
      li(data-target = "#carouselIndicators" data-slide-to = "2")
    .carousel-inner(role = "listbox")
      .carousel-item.active.item1
        .carousel-caption.text-center
          h1 The easiest way to keep up with the family
          h3 Track relatives and family antiques/treasures. Get back to your roots.
          a.btn.btn-outline-light.btn-lg(href = "#signup") Get Started
      .carousel-item.item2
        h1 hello
      .carousel-item.item3
        h1 hello
    a.left.carousel-control(href='#carouselIndicators' role='button' data-slide='prev')
      span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
      span.sr-only Previous
    a.right.carousel-control(href='#carouselIndicators' role='button' data-slide='next')
      span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
      span.sr-only Next
    //End Image Slider



