doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")


    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")

    title= title

    block css

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', type='image/png', href='https://i.ibb.co/bHJdZX2/output-onlinepngtools-3.png')

    style.
      @import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:700&display=swap');
      @import url('https://fonts.googleapis.com/css?family=Assistant:700|EB+Garamond&display=swap');
      @import url('https://fonts.googleapis.com/css?family=Beth+Ellen&display=swap');
      @import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');



  header

    nav.navbar.navbar-expand-md.navbar-light.fixed-top.white-bg#navtop
      a.navbar-brand#handwrite(href = '/') Inherit


      button.navbar-toggler(type = "button" data-toggle = "collapse" data-target = "#navbarResponsive")
        span.navbar-toggler-icon

      div.collapse.navbar-collapse#navbarResponsive
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href = "#aboutus") About Us
          li.nav-item
            a.nav-link(href = "/login") Log in


  body
    //block navbar
      nav.navbar.navbar-expand-lg.navbar-light.white-bg
        a.navbar-brand(href="/")
          img(src='https://i.ibb.co/cLht1v4/logo.png', width='200')
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarTogglerDemo03' aria-controls='navbarTogglerDemo03' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarTogglerDemo03.collapse.navbar-collapse
          ul.navbar-nav.mr-auto.mt-2.mt-lg-0
            li.nav-item.active
              a.nav-brand(href='#')

          ul.nav.navbar-nav.navbar-right
            li.nav-item
              a.nav-link(href='#') About us
            li.nav-item
              a.nav-link(href = '/login') Log in


    block content
