extends layout

block css
    style
        include ../public/stylesheets/login.css

block content

    .container
        .row
            .col-xs-12.col-sm-12.text-center
                h2 Login
                p
                    | Don't have an account?
                    a(href='/signup')  Sign Up!

        .row
            .col-sm-6.col-md-6.col-lg-6.col-xl-6.loginimg.fade-in

            .col-xs-12.col-sm-6.col-lg-6.col-xl-6
                br
                form(method='POST' action = '/login')
                    .form-group
                        label(for='email') Email address
                        input#email.form-control(type='email' name='email' aria-describedby='emailHelp' placeholder='Enter email')
                    .form-group
                        label(for='password') Password
                        input#password.form-control(type='password' name='password' placeholder='Password')

                    br
                    .container.text-center
                        button.btn.btn-outline-secondary(type='submit') Login

                br
                br
                br
                br
