extends layout

block css
    style
        include ../public/stylesheets/login.css


block content

        .container.leaves(style={'background': 'url(https://images.unsplash.com/photo-1496776574435-bf184935f729?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) no-repeat center center fixed;', 'background-size': 'cover;'})
            .row
                .col-cs-12.col-sm-12.white.text-center
                    h2 Login
                    p
                        | Don't have an account?
                        a(href='/signup')  Sign Up!

            .row
                .col


                .col-xs-12.col-sm-12.col-lg-6.col-xl-6.white
                    br
                    form
                        .form-group
                            label(for='exampleInputEmail1') Email address
                            input#exampleInputEmail1.form-control(type='email' aria-describedby='emailHelp' placeholder='Enter email')
                            small#emailHelp.form-text.text-muted We&apos;ll never share your email with anyone else.
                        .form-group
                            label(for='exampleInputPassword1') Password
                            input#exampleInputPassword1.form-control(type='password' placeholder='Password')
                        .form-check
                            input#exampleCheck1.form-check-input(type='checkbox')
                            label.form-check-label(for='exampleCheck1') Check me out

                        br
                        button.btn.btn-primary(type='submit') Login

                    br


                    .md-form
                        input#Form-email1.form-control(type='text')
                        |
                        label(for='Form-email1') Your email
                    |
                    .md-form.pb-3
                        input#Form-pass1.form-control(type='password')
                        |
                        label(for='Form-pass1') Your password
                        |
                        p.font-small.blue-text.d-flex.justify-content-end
                            | Forgot
                            a.blue-text.ml-1(href='#')
                                | Password?

                    |
                    .text-center.mb-3
                        button.btn.blue-gradient.btn-block.btn-rounded.z-depth-1a(type='button') Sign in
                    |




                    br








