extends layout

block css
    style
        include ../public/stylesheets/login.css

block content

    .container
        .row
            .col-xs-12.col-sm-12.text-center
                h2 Login
                p
                    | Don't have an account?
                    a(href='/signup')  Sign Up!

        .row
            .col-sm-6.col-md-6.col-lg-6.col-xl-6.loginimg.fade-in

            .col-xs-12.col-sm-6.col-lg-6.col-xl-6
                br
                form(method='POST' action = '/login')
                    .form-group
                        label(for='exampleInputEmail1') Email address
                        input#exampleInputEmail1.form-control(type='email' name='email' aria-describedby='emailHelp' placeholder='Enter email')
                        small#emailHelp.form-text.text-muted We&apos;ll never share your email with anyone else.
                    .form-group
                        label(for='exampleInputPassword1') Password
                        input#exampleInputPassword1.form-control(type='password' name='password' placeholder='Password')

                    br
                    .container.text-center
                        button.btn.btn-primary(type='submit') Login

                br
                br
                br
                br
