.md - form.mb - 5
    label.font - weight - bold  Members
        .input - group
    form(id = 'search', method = 'GET', action = "/search", autocomplete = 'off')
    input(type = 'hidden', name = 'users', value = user, autocomplete = "off")
    input#searchbar(type = 'text', name = 'input', placeholder = "Search", list = 'datalist', autocomplete = "off")
    datalist#datalist
    button.searchbutton(type = 'submit' form = 'search') Add


    script.
        function getusers() {
            users.collection.find({'_id': 10}).sort({_id: -1}).limit(10, function (e, d) {
            })

        }
        document.getElementById("searchbar").addEventListener('keyup', () => {
            autocomplete(document.getElementById("searchbar").value);
        });

        function autocomplete(value) {
            if (value == "") {
                document.getElementById("datalist").innerHTML = "";
                return;
            }
            var xhttp = new XMLHttpRequest();

            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var result = JSON.parse(xhttp.responseText);
                    document.getElementById("datalist").innerHTML = "";
                    for (var i = 0; i < result.length; i++) {
                        var node = document.createElement("option");
                        var val = document.createTextNode(result[i].name);
                        node.appendChild(val);
                        document.getElementById("datalist").appendChild(node);
                    }
                }
            };

            xhttp.open("GET", "/search/list/" + value, true);
            xhttp.send();


        }
