extends settings.pug

block css
    style
        include ../public/stylesheets/homepage.css
        include ../public/stylesheets/settings.css

block content
    .container-fluid.fill-height
        .row
            .col
                .header
                    if(session)
                        br
                        br
                        h2.text-center Settings
                        br
                        br
        br
        .row
            .col-xs-12.col-sm-12.col-md-3.col-lg-2.col-xl-2(style={
                'background-color': 'white;'
            })
                nav.fixed-left
                    .vertical-menu
                        br
                        a(href='/settings/general',style="color:#666666;") General
                        hr.my-4
                        a.active(href='#',style="color:#666666;") Security and Login
                        hr.my-4
                        a(href='/settings/delete',style="color:#666666;") Delete Account

                        br
                        br

            .col-md-9.col-lg-10.col-xl-10.fade-in
                .jumbotron
                    .row
                        .col.col-md-6.col-lg-6.col-xl-6
                            h3 Security and login
                    hr.my-4
                    .row
                        .col
                            h4 Change password
                            br
                    form(method='POST' action='/settings/security')
                        .row
                            .col
                                .form-group
                                    .row
                                        .col
                                            p.font-weight-bold NEW PASSWORD
                                            input.fullrow#pw(type='password', onkeyup="checkPasswords();",
                                                placeholder='Password' name='password', required)
                                    br
                                    .row
                                        .col
                                            p.font-weight-bold RETYPE NEW PASSWORD
                                            input.fullrow#pw2(type='password', onkeyup="checkPasswords();",
                                                placeholder='Retype Password' name='confirmPassword',
                                                autocomplete='new-password', required)
                                    .row
                                        .col
                                            p#pw_message(style="display: none; color: red; font-weight: bold;") Passwords do not match.

                                .row
                                    .col.d-flex.justify-content-center
                                        button.btn.btn-success(type='submit', onClick = "successMsg()" ) Update





