extends layout

block css
    style
        include ../public/stylesheets/send.css


block content
    .container
        .row
            .col-xs-12.col-sm-12.text-center
                .jumbotron(style = "background-color: white;")
                    img.bounceIn(src='https://image.flaticon.com/icons/svg/942/942196.svg', style="height: 8rem;")
                    br
                    br
                    h1.display-5 Thanks for Signing Up!
                    br
                    p.lead
                        | Please Check Your Email to Verify Your Account

                    p It might take up to 5 minutes

                    p
                    | Click Here to Resend Your Verification Email















