doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
  script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
  title
  style.
    .vertical-line {
    border-right: 2px solid grey;
    }
    .leaves {
    background-image: url("https://images.unsplash.com/photo-1496776574435-bf184935f729?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"), , no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
    #leaves {
    background-image: url("https://images.unsplash.com/photo-1496776574435-bf184935f729?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"), , no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
    .white {
    background-color: white;
    opacity: 1;
    word-wrap: break-word;
    }
    .form-elegant .font-small {
    font-size: 0.8rem; }
    .form-elegant .z-depth-1a {
    -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
    box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }
    .form-elegant .z-depth-1-half,
    .form-elegant .btn:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
    box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }
  link(rel='stylesheet' href='/stylesheets/style.css')
  link(rel='icon' type='image/png' href='https://i.ibb.co/bHJdZX2/output-onlinepngtools-3.png')
  style.
    @import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:700&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Assistant:700|EB+Garamond&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Beth+Ellen&display=swap');
  p &nbsp;
  p
    strong Terms and conditions of use
  ol
    li
      strong Introduction
  p 1.1 These terms and conditions shall govern your use of our website.
  p
    | 1.2 By using our website, you accept these terms and conditions in full; accordingly, if you disagree with these terms and conditions or any part of these terms and conditions, you must not use our website.
  p
    | 1.3 If you register with our website, submit any material to our website or use any of our website services, we will ask you to expressly agree to these terms and conditions.
  p
    | 1.4 You must be at least 18 years of age to use our website; by using our website or agreeing to these terms and conditions, you warrant and represent to us that you are at least 18 years of age.
  p
    | 1.5 Our website uses cookies; by using our website or agreeing to these terms and conditions, you consent to our use of cookies in accordance with the terms of our privacy and cookies policy.
  ol(start='2')
    li
      strong Credit
  p
    | 2.1 This document was created using a template from SEQ Legal (
    a(href='http://www.seqlegal.com/') http://www.seqlegal.com
    | ).
  ol(start='3')
    li
      strong Copyright notice
  p
    | 3.1 Copyright (c) 
    em 2019
    |  Project Inherit.
  p 3.2 Subject to the express provisions of these terms and conditions:
  p
    | (a) we, together with our licensors, own and control all the copyright and other intellectual property rights in our website and the material on our website; and
  p
    | (b) all the copyright and other intellectual property rights in our website and the material on our website are reserved.
  ol(start='4')
    li
      strong Licence to use website
  p 4.1 You may:
  p (a) view pages from our website in a web browser;
  p (b) download pages from our website for caching in a web browser;
  p (c) print pages from our website;
  p (d) stream audio and video files from our website; and
  p (e) use project-inherit.herokuapp.com by means of a web browser,
  p &nbsp;&nbsp;&nbsp;&nbsp; subject to the other provisions of these terms and conditions.
  p
    | 4.2 Except as expressly permitted by Section 4.1 or the other provisions of these terms and conditions, you must not download any material from our website or save any such material to your computer.
  p
    | 4.3 You may only use our website for [your own personal and business purposes], and you must not use our website for any other purposes.
  p
    | 4.4 Except as expressly permitted by these terms and conditions, you must not edit or otherwise modify any material on our website.
  p 4.5 Unless you own or control the relevant rights in the material, you must not:
  p
    | (a) republish material from our website (including republication on another website);
  p (b) sell, rent or sub-license material from our website;
  p (c) show any material from our website in public;
  p (d) exploit material from our website for a commercial purpose; or
  p (e) redistribute material from our website.
  p
    | 4.6 Notwithstanding Section 4.5, you may redistribute [our newsletter] in [print and electronic form] to [any person].
  p
    | 4.7 We reserve the right to restrict access to areas of our website, or indeed our whole website, at our discretion; you must not circumvent or bypass, or attempt to circumvent or bypass, any access restriction measures on our website.
  ol(start='5')
    li
      strong Acceptable use
  p 5.1 You must not:
  p
    | (a) use our website in any way or take any action that causes, or may cause, damage to the website or impairment of the performance, availability or accessibility of the website;
  p
    | (b) use our website in any way that is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity;
  p
    | (c) use our website to copy, store, host, transmit, send, use, publish or distribute any material which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit or other malicious computer software;
  p
    | (d) [conduct any systematic or automated data collection activities (including without limitation scraping, data mining, data extraction and data harvesting) on or in relation to our website without our express written consent];
  p
    | (e) access or otherwise interact with our website using any robot, spider or other automated means, except for the purpose of search engine indexing;
  p (f)  violate the directives set out in the robots.txt file for our website; or
  p
    | (g) use data collected from our website for any direct marketing activity (including without limitation email marketing, SMS marketing, telemarketing and direct mailing).
  p
    | 5.2 You must not use data collected from our website to contact individuals, companies or other persons or entities.
  p
    | 5.3 You must ensure that all the information you supply to us through our website, or in relation to our website, is true, accurate, current, complete and non-misleading.
  ol(start='6')
    li
      strong Registration and accounts
  p
    | 6.1 To be eligible for an account on our website under this Section 6, you must be a resident or situated in a supported country.
  p
    | 6.2 You may register for an account with our website by completing and submitting the account registration form on our website, and clicking on the verification link in the email that the website will send to you.
  p
    | 6.3 You must not allow any other person to use your account to access the website.
  p
    | 6.4 You must notify us in writing immediately if you become aware of any unauthorised use of your account.
  p
    | 6.5 You must not use any other person&apos;s account to access the website, unless you have that person&apos;s express permission to do so.
  ol(start='7')
    li
      strong User login details
  p
    | 7.1 If you register for an account with our website, [we will provide you with] OR [you will be asked to choose] [a user ID and password].
  p
    | 7.2 Your user ID must not be liable to mislead and must comply with the content rules set out in Section 10; you must not use your account or user ID for or in connection with the impersonation of any person.
  p 7.3 You must keep your password confidential.
  p
    | 7.4 You must notify us in writing immediately if you become aware of any disclosure of your password.
  p
    | 7.5 You are responsible for any activity on our website arising out of any failure to keep your password confidential, and may be held liable for any losses arising out of such a failure.
  ol(start='8')
    li
      strong Cancellation and suspension of account
  p 8.1 We may:
  p (a) suspend your account;
  p (b) cancel your account; and/or
  p (c) edit your account details,
  p &nbsp;&nbsp;&nbsp;&nbsp; at any time in our sole discretion without notice or explanation.
  p
    | 8.2 You may cancel your account on our website [using your account control panel on the website].
  ol(start='9')
    li
      strong Your content: licence
  p
    | 9.1 In these terms and conditions, &quot;your content&quot; means [all works and materials (including without limitation text, graphics, images, audio material, video material, audio-visual material, scripts, software and files) that you submit to us or our website for storage or publication on, processing by, or transmission via, our website].
  p
    | 9.2 You grant to us a [worldwide, irrevocable, non-exclusive, royalty-free licence] to [use, reproduce, store, adapt, publish, translate and distribute your content in any existing or future media] OR [reproduce, store and publish your content on and in relation to this website and any successor website] OR [reproduce, store and, with your specific consent, publish your content on and in relation to this website].
  p
    | 9.3 You grant to us the right to sub-license the rights licensed under Section 9.2.
  p
    | 9.4 You grant to us the right to bring an action for infringement of the rights licensed under Section 9.2.
  p
    | 9.5 You hereby waive all your moral rights in your content to the maximum extent permitted by applicable law; and you warrant and represent that all other moral rights in your content have been waived to the maximum extent permitted by applicable law.
  p
    | 9.6 You may edit your content to the extent permitted using the editing functionality made available on our website.
  p
    | 9.7 Without prejudice to our other rights under these terms and conditions, if you breach any provision of these terms and conditions in any way, or if we reasonably suspect that you have breached these terms and conditions in any way, we may delete, unpublish or edit any or all of your content.
  ol(start='10')
    li
      strong Your content: rules
  p
    | 10.1&nbsp; You warrant and represent that your content will comply with these terms and conditions.
  p
    | 10.2&nbsp; Your content must not be illegal or unlawful, must not infringe any person&apos;s legal rights, and must not be capable of giving rise to legal action against any person (in each case in any jurisdiction and under any applicable law).
  p
    | 10.3&nbsp; Your content, and the use of your content by us in accordance with these terms and conditions, must not:
  p (a) be libellous or maliciously false;
  p (b) be obscene or indecent;
  p
    | (c) infringe any copyright, moral right, database right, trade mark right, design right, right in passing off, or other intellectual property right;
  p
    | (d)&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;infringe any right of confidence, right of privacy or right under data protection legislation;
  p (e)&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;constitute negligent advice or contain any negligent statement;
  p
    | (f)&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;constitute an incitement to commit a crime[, instructions for the commission of a crime or the promotion of criminal activity];
  p (g)&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;be in contempt of any court, or in breach of any court order;
  p
    | (h)&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;be in breach of racial or religious hatred or discrimination legislation;
  p (i)&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;be blasphemous;
  p (j)&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;be in breach of official secrets legislation;
  p (k)&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;be in breach of any contractual obligation owed to any person;
  p (l)&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;depict violence in an explicit, graphic or gratuitous manner;
  p (m) &nbsp; be pornographic, lewd, suggestive or sexually explicit;
  p (n)&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;be untrue, false, inaccurate or misleading;
  p
    | (o)&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;consist of or contain any instructions, advice or other information which may be acted upon and could, if acted upon, cause illness, injury or death, or any other loss or damage;
  p (p)&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;constitute spam;
  p
    | (q)&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;be offensive, deceptive, fraudulent, threatening, abusive, harassing, anti-social, menacing, hateful, discriminatory or inflammatory; or
  p (r)&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;cause annoyance, inconvenience or needless anxiety to any person.
  p
    strong 11.&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;Limited warranties
  p 11.1 &nbsp;We do not warrant or represent:
  p
    | (a)&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;the completeness or accuracy of the information published on our website;
  p (b)&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;that the material on the website is up to date; or
  p (c)&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;that the website or any service on the website will remain available.
  p
    | 11.2 &nbsp;We reserve the right to discontinue or alter any or all of our website services, and to stop publishing our website, at any time in our sole discretion without notice or explanation; and save to the extent expressly provided otherwise in these terms and conditions, you will not be entitled to any compensation or other payment upon the discontinuance or alteration of any website services, or if we stop publishing the website.
  p
    | 11.3 &nbsp;To the maximum extent permitted by applicable law and subject to Section 12.1, we exclude all representations and warranties relating to the subject matter of these terms and conditions, our website and the use of our website.
  p
    strong 12.&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;Limitations and exclusions of liability
  p 12.1 &nbsp;Nothing in these terms and conditions will:
  p
    | (a)&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;limit or exclude any liability for death or personal injury resulting from negligence;
  p
    | (b)&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;limit or exclude any liability for fraud or fraudulent misrepresentation;
  p
    | (c)&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;limit any liabilities in any way that is not permitted under applicable law; or
  p
    | (d)&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;exclude any liabilities that may not be excluded under applicable law.
  p
    | 12.2 &nbsp;The limitations and exclusions of liability set out in this Section 12 and elsewhere in these terms and conditions:
  p (a)&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;are subject to Section 12.1; and
  p
    | (b)&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;govern all liabilities arising under these terms and conditions or relating to the subject matter of these terms and conditions, including liabilities arising in contract, in tort (including negligence) and for breach of statutory duty, except to the extent expressly provided otherwise in these terms and conditions.
  p
    | 12.3 &nbsp;To the extent that our website and the information and services on our website are provided free of charge, we will not be liable for any loss or damage of any nature.
  p
    | 12.4 &nbsp;We will not be liable to you in respect of any losses arising out of any event or events beyond our reasonable control.
  p
    | 12.5 &nbsp;We will not be liable to you in respect of any business losses, including (without limitation) loss of or damage to profits, income, revenue, use, production, anticipated savings, business, contracts, commercial opportunities or goodwill.
  p
    | 12.6 &nbsp;We will not be liable to you in respect of any loss or corruption of any data, database or software.
  p
    | 12.7 &nbsp;We will not be liable to you in respect of any special, indirect or consequential loss or damage.
  p
    | 12.8 &nbsp;You accept that we have an interest in limiting the personal liability of our officers and employees and, having regard to that interest, you acknowledge that we are a limited liability entity; you agree that you will not bring any claim personally against our officers or employees in respect of any losses you suffer in connection with the website or these terms and conditions (this will not, of course, limit or exclude the liability of the limited liability entity itself for the acts and omissions of our officers and employees).
  p
    strong 13.&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;Breaches of these terms and conditions
  p
    | 13.1 &nbsp;Without prejudice to our other rights under these terms and conditions, if you breach these terms and conditions in any way, or if we reasonably suspect that you have breached these terms and conditions in any way, we may:
  p (a)&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;send you one or more formal warnings;
  p (b)&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;temporarily suspend your access to our website;
  p (c)&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;permanently prohibit you from accessing our website;
  p (d)&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;block computers using your IP address from accessing our website;
  p
    | (e)&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;contact any or all of your internet service providers and request that they block your access to our website;
  p
    | (f)&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;commence legal action against you, whether for breach of contract or otherwise; and/or
  p (g)&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;suspend or delete your account on our website.
  p
    | 13.2 &nbsp;Where we suspend or prohibit or block your access to our website or a part of our website, you must not take any action to circumvent such suspension or prohibition or blocking[ (including without limitation creating and/or using a different account).
  p
    strong 14.&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;Variation
  p 14.1 &nbsp;We may revise these terms and conditions from time to time.
  p
    | 14.2 &nbsp;The revised terms and conditions shall apply to the use of our website from the date of publication of the revised terms and conditions on the website, and you hereby waive any right you may otherwise have to be notified of, or to consent to, revisions of these terms and conditions. OR We will give you written notice of any revision of these terms and conditions, and the revised terms and conditions will apply to the use of our website from the date that we give you such notice; if you do not agree to the revised terms and conditions, you must stop using our website.
  p
    | 14.3 &nbsp;If you have given your express agreement to these terms and conditions, we will ask for your express agreement to any revision of these terms and conditions; and if you do not give your express agreement to the revised terms and conditions within such period as we may specify, we will disable or delete your account on the website, and you must stop using the website.
  p
    strong 15.&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;Assignment
  p
    | 15.1 &nbsp;You hereby agree that we may assign, transfer, sub-contract or otherwise deal with our rights and/or obligations under these terms and conditions.
  p
    | 15.2 &nbsp;You may not without our prior written consent assign, transfer, sub-contract or otherwise deal with any of your rights and/or obligations under these terms and conditions.
  p
    strong 16.&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;Severability
  p
    | 16.1 &nbsp;If a provision of these terms and conditions is determined by any court or other competent authority to be unlawful and/or unenforceable, the other provisions will continue in effect.
  p
    | 16.2 &nbsp;If any unlawful and/or unenforceable provision of these terms and conditions would be lawful or enforceable if part of it were deleted, that part will be deemed to be deleted, and the rest of the provision will continue in effect.
  p
    strong 17.&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;Third party rights
  p
    | 17.1 &nbsp;A contract under these terms and conditions is for our benefit and your benefit, and is not intended to benefit or be enforceable by any third party.
  p
    | 17.2 &nbsp;The exercise of the parties&apos; rights under a contract under these terms and conditions is not subject to the consent of any third party.
  p
    strong 18.&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;Entire agreement
  p
    | 18.1 &nbsp;Subject to Section 12.1, these terms and conditions, together with our privacy and cookies policy, shall constitute the entire agreement between you and us in relation to your use of our website and shall supersede all previous agreements between you and us in relation to your use of our website.
  p
    strong 19.&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;Law and jurisdiction
  p
    | 19.1 &nbsp;These terms and conditions shall be governed by and construed in accordance with Australian law.
  p
    | 19.2 &nbsp;Any disputes relating to these terms and conditions shall be subject to the exclusive OR non-exclusive jurisdiction of the courts of Australia.
  p
    strong 21.&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;Our details
  p
    | 21.1 &nbsp;This website is owned and operated by&nbsp;
    em Project inherit
    | .
  p 21.2 &nbsp;You can contact us:
  p (a)&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;using our website contact form;
  p (b)&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;by email, using projectinherit28@gmail.com.
  p &nbsp;
