

#preview {
    background-color: whitesmoke;
    max-width: 10vw;
    max-height:15vw;
    min-width: 16vw;
    min-height: 18vw;
    border-radius: 5px;
    border: 3px solid dimgrey;
    object-fit: cover;
    position: relative;
}

img {
    object-fit: cover;
    position: relative;
}


/** MEMBERS **/
#searchbar{
    width: 100%;
    height: 40px;
    border-radius: 30px;
    background-color: white;
    box-shadow: none;
    padding: 10px;
}


.responsive {
    width: 100%;

    height: auto;
}

.cardzone{
    padding-top: 2.4vw;
}


.tabstyle{
    text-decoration: none;
    color: #666666;
}

.tabstyle:hover{
    text-decoration: none;
    transition: all 100ms;
    font-weight: bold;
}

.profilerow{
    list-style-type: none;
    background-color: white;
    border-style:solid;
    border-width: 1px;
    border-color: lightgrey;
}

.descriptionstyle {
    background-color: white;
    padding-top: 2%;
    margin:0 3% 3% 3%;
    border-radius: 6px;

}
