#preview {
    background-color: whitesmoke;
    max-width: 30vw;
    max-height:50vw;
    min-width: 30vw;
    min-height: 30vw;
    border-radius: 10px;
    border: 10px solid dimgrey;

}

#nextbtn{
    margin-top: 13vw;
    width: 30vw;
    display: none;
}

#message{
    display: none;
    font-weight: bold;
}
