
.slidezone {
    background-image: url(https://unsplash.com/photos/s-vhziQHngM);
    background-position: 0% 50%;
    background-repeat: no-repeat;
    background-size: 100%;
}



.greenery {
    background: url("https://images.unsplash.com/photo-1519567770579-c2fc5436bcf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"), no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.thick {

    border: none;
    border-bottom: 1px white;

}

.white-transparent {
    background-color: white;
    opacity: 0.7;
    word-wrap: break-word;
}

#whitebgtext {
    background-color: white;
}

.grey {
    color: #262626;

}

.green {
    color: #004d00;
}


