.addbutton{
    width: 70%;
    height: 5vw;
    display: table-cell;
    vertical-align: middle;
}

.card-columns {
    @include media-breakpoint-only(lg) {
        column-count: 4;
    }
    @include media-breakpoint-only(xl) {
        column-count: 5;
    }
}

.responsive {
    width: 100%;

    height: auto;
}

#preview {
    background-color: whitesmoke;
    max-width: 10vw;
    max-height:15vw;
    min-width: 16vw;
    min-height: 18vw;
    border-radius: 5px;
    border: 3px solid dimgrey;

}


img {
    object-fit: cover;
}


.bg-white {
    background-color: #fff;
}




.small {
    font-size: 0.75rem;
}
.card-heading {
    font-size: 2.25rem;
}
.styled-link {
    text-decoration: none;
    outline: none;
    color: #2196fe;
    transition: all 0.25s ease-in;
}
.styled-link:hover,
.styled-link:focus,
.styled-link:active {
    color: #536dfe;
}
.shadow-1 {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);
}
.blue-hover {
    transition: all 0.25s ease-in;
    border-bottom: 5px solid transparent;
}
.blue-hover:hover {
    transform: translateY(-5px);
    mar
    border: none;
    border-bottom: 5px solid #ffd194;
}

