
#preview {
    background-color: whitesmoke;
    max-width: 10vw;
    max-height:15vw;
    min-width: 16vw;
    min-height: 18vw;
    border-radius: 5px;
    border: 3px solid dimgrey;
    align-content: center;
    align-items: center;

}


img {
    object-fit: cover;
}

.btn-xl {
    width: 80px;
    height: 80px;
    font-size: 35px;
    line-height: 50%;
    padding-bottom: 10px;
    padding-top: 3%;
}

.btn-xl:hover{
    background-color: #F0F0F0;
    width: 75px;
    height: 75px;
    transition: 200ms;
}

