.addbutton{
    width: 70%;
    height: 5vw;
    display: table-cell;
    vertical-align: middle;
}


.responsive {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

#preview {
    background-color: whitesmoke;
    max-width: 10vw;
    max-height:15vw;
    min-width: 16vw;
    min-height: 18vw;
    border-radius: 5px;
    border: 3px solid dimgrey;
    align-content: center;
    align-items: center;

}


img {
    object-fit: cover;
}


.bg-white {
    background-color: #fff;
}

.small {
    font-size: 0.75rem;
}

.shadow-1 {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);
}
.blue-hover {
    transition: all 0.25s ease-in;
    border-bottom: 5px solid transparent;
}
.blue-hover:hover {
    transform: translateY(-5px);
    mar
    border: none;
    border-bottom: 5px solid #fda085;
}



