body {
  margin: 30px 30px 0px 30px;
  padding: 70px 30px 0px 30px;
  font-family: 'Palatino', sans-serif;
}




h2 {
  font-family: 'Merriweather', sans-serif;
}

.white-bg {
  background-color: white;
}

#navtop {
  background-color: whitesmoke;
  padding: 0px 30px 0px 30px;
}

#footerbottom {
  background-color: whitesmoke;
  padding: 0px 0px 0px 0px;
}

.Noto {
  font-family: 'Noto Sans JP', sans-serif;
}

.dropdown-left-manual {
  right: 0;
  left: auto;
  padding-left: 1px;
  padding-right: 1px;
}


@font-face {
  font-family: "handwrite";
  src: url("../webfontkit-20190819-002319");
  src: url("../webfontkit-20190819-002319/atmosphere-regular-webfont.woff") format("woff");

}

#handwrite {
  font-family: 'handwrite', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
  color: #666666;
}

.headergrey {
  font-color: #666666;
  color: #666666;

}

a {
  color: darkgreen;
}

a:hover {
  color: #666666;
}

a:visited {
  color: darkgray;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}
